<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>AI Search</title>
<!--      <link rel="icon" href="../img/icon.png" type="image/x-icon">-->

</head>
<body>
    <h1>Интерфейс взаимодействия с REST-сервисом</h1>

    <form action="/api/chat" th:action="@{/send}" method="post">
        <label for="message">Введите сообщение:</label><br/>
        <input type="text" id="message" name="message"/><br/><br/>
        <button type="submit">Отправить</button>
    </form>

    <div th:if="${response != null}" style="margin-top: 20px;">
        Ответ от сервиса:<br/>
        <span th:text="${response}"></span>
    </div>
</body>
</html>
